@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Book.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Medium.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Black.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(fonts/Pacifico.ttf) format("truetype");
  font-style: normal;
}

body {
  font-family: "Gotham";
  background-color: #e2e2e2;
  margin: 0;
  color: #2f2f2f;
  font-weight: 200;
}

h1 {
  font-weight: 100;
  font-size: 32px;
  margin: 24px 0;
  text-align: center;
  width: 100%;
}

h1 span {
  color: #ef5350;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  background-color: #ef5350;
  width: 100%;
  color: white;
  text-align: center;
  padding: 12px 24px;
  box-sizing: border-box;
}

h2::before, 
h2::after {
  content: "-----";
  letter-spacing: -2px;
  margin: 0 8px;
}

.container {
  width: 40%;
  margin: 0 auto;
  max-width: 600px;
}

.box {
  background-color: white;
  width: 100%;
  margin-bottom: 48px;
  opacity: 0.4;
  position: relative;
}

.box::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -25px;
  margin-left: calc(50% - 25px);
}

.box:last-child::after {
  display: none;
}

.box:nth-child(2) {
  opacity: 1;
}

.box-content {
  padding: 24px;
}

.preview {
  overflow: hidden;
  display: none;
}

.col {
  float: left;
  width: 50%;
  padding: 0 8px 0 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  margin-top: 4px;
}

img {
  width: 100%;
  margin: 4px 0 16px 0;
}

.bar {
  width: 100%;
  padding: 8px 12px;
  background-color: #ef5350;
  color: #2f2f2f;
  margin-bottom: 8px;
  box-sizing: border-box;
  min-width: 102px;
  display: none;
}

#bar-1 {
  opacity: 1.0;
}

#bar-2 {
  opacity: 0.8;
}

#bar-3 {
  opacity: 0.6;
}

.prediction {
  font-size: 64px;
  color: #2f2f2f;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
  display: none;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
}
